*{
  font-family: roboto, sans-serif;
}
body{
  background-color: #2C3E50;
  margin: 0px;
}
section{
  background-color: transparent;
  margin-bottom: 10px;
}
body>main{
  width: 100%;
  padding-top: 10px;
  display: block;
}
.topheader{
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  background-color: #3293D4;
  color: white;
  display: block;
}
.topheader h1{
  font-size: 50px;
  padding-top: 25px;
  margin-top: 0;
}
main header{
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  color: black;
}
.book-box header{
  padding-bottom: 0;
}
.wiki-display, .poweredbyGContainer, main header,.video,.book{
  background-color: #ECF0F1;
}
.booksheader{
  margin: 0;
  padding-top:20px;
  padding-bottom: 20px;
}
.searchbar{
  width: 90%;
  max-width: 950px;
  font-size: 25px;
  text-align: center;
}
.searchbutton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: none;
  font-size: 25px;
  width: 90px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section main {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  background-color: transparent;
}
.book-box{
  margin-bottom: 0;
}
.wiki-display{
  padding: 5px;
}
.poweredbyGContainer{
  padding-top: 10px;
  border-top: 2px solid black;
  margin-bottom: 10px;
}
.video-box, .book-box{
  text-align: center;
}
.video,.book{
  border-top: 2px solid black;
  padding: 5px;
}
.thumbnail{
  max-width: 90%;
}
.youtubelogo{
  width: 40%;
  z-index: -10;
  margin-top: -15px;
  margin-bottom: -15px;
}
.videoheading{
  margin-top: 0;
  padding-top: 0;
  font-size: 21px;
}
.wikipedialogo{
  height: 100px;
}
.book a,.video a{
  color: black;
}
.booktitle, .videotitle, .author, .channeltitle{
  display: block;
}
.booktitle, .videotitle{
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.author{
  margin-top: 18px;
  margin-bottom: 18px;
}
.channeltitle{
  margin:0;
  padding: 0;
  font-size: 13px;
}
.hidden{
  display: none;
}
@media screen and (max-width: 1100px){
  .topheader h1{
    font-size: 35px;
  }
}
